@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Helvetica";
  src: url("./Helvetica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Helvetica";
}
